<!DOCTYPE html>
<html>

<head>

    <title>LLM Auto Insight Generator</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <div class="container">

        <h1>📊 LLM Based Auto Insight Generator</h1>

        <div class="upload-card">

            <h3>Upload Dataset</h3>

            <input type="file" id="fileInput">

        </div>


        <div class="chart-options">

            <h3>Select Chart Types</h3>

            <label><input type="checkbox" value="histogram" checked> Histogram</label>

            <label><input type="checkbox" value="box" checked> Box Plot</label>

            <label><input type="checkbox" value="bar" checked> Bar Chart</label>

            <label><input type="checkbox" value="pie"> Pie Chart</label>

            <label><input type="checkbox" value="scatter" checked> Scatter Plot</label>

            <label><input type="checkbox" value="heatmap" checked> Correlation Heatmap</label>

        </div>


        <button class="analyze-btn" onclick="uploadDataset()">

            Analyze Dataset

        </button>


        <div id="loading">

            Analyzing Dataset... 🤖

        </div>


        <div id="results">

        </div>

    </div>

    <script src="/static/script.js"></script>

</body>

</html>